.idea/
*cache*
*.egg-info/
.DS_Store
*.mar
*.pt
*.gz
*.zip

data/intent-classifier.pkl
experiments/data/HSBQuestions.csv
experiments/plots
logs/
model_store/
data/clients/*
!data/clients/0
data/models/
notebooks/
.env*
